<div class="row">
 <div class="col-md-12">
 <h2>Posts</h2>
 <hr />
 
 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center;">Post ID</th>
                <th style="text-align: center;">Title</th>
                <th style="text-align: center;">Post&nbsp;Date</th>
                <th style="text-align: center;">Category</th>
                <th style="text-align: center;">Published</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{postDate}}</td>
                <td><a href="/posts?category={{category}}">{{category}}</a></td>
                <td>{{published}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
 </div>
 </div>
 {{#unless posts}}
 <div class="col-md-12 text-center">
 <strong>{{message}}</strong>
</div>
 {{/unless}}
</div>
